# === APPLICATION ===
PROJECT_NAME="Enterprise Talent Platform"
SECRET_KEY="CHANGEZ-MOI-UN-SECRET-ALPHA-NUMERIQUE-ici"
API_V1_STR="/api/v1"

# === CORS ===
BACKEND_CORS_ORIGINS=["http://localhost:3000"]

# === POSTGRES (PostGIS) ===
POSTGRES_SERVER=localhost
POSTGRES_USER=etp_user
POSTGRES_PASSWORD=votre_mot_de_passe
POSTGRES_DB=etp_db
DATABASE_URL=postgresql+asyncpg://etp_user:votre_mot_de_passe@localhost:5432/etp_db

# === REDIS ===
REDIS_URL=redis://localhost:6379/0

# === MINIO (S3) ===
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=etp-documents
MINIO_BUCKET_CV=candidats-cv

# === CELERY (optionnel) ===
# CELERY_BROKER_URL=redis://localhost:6379/0
# CELERY_RESULT_BACKEND=redis://localhost:6379/0
