# APPLICATION
PROJECT_NAME="Enterprise Talent Platform"
# Genere automatiquement si non defini (voir config.py)

# CORS
BACKEND_CORS_ORIGINS=["http://localhost:3000"]

# OAUTH (Google & Facebook)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

# POSTGRES (PostGIS)
POSTGRES_SERVER=localhost
POSTGRES_USER=etp_user
POSTGRES_PASSWORD=<a_changer>
POSTGRES_DB=etp_db
DATABASE_URL=postgresql+asyncpg://etp_user:<a_changer>@localhost:5432/etp_db

# REDIS 
REDIS_URL=redis://localhost:6379/0

#  MINIO (S3)
MINIO_ENDPOINT=localhost:9000
# MINIO_ACCESS_KEY=<genere dynamiquement>
# MINIO_SECRET_KEY=<genere dynamiquement>
MINIO_BUCKET_NAME=etp-documents
MINIO_BUCKET_CV=candidats-cv
